
body{
  font-family: 'Inconsolata', monospace;
  color: #808080;
}
#messages
{
  min-height:200px;
  color: #8080ff;
}

#username,#textarea{
  color: #158aff;
  border: 2px solid #b6b1b1;
}
#username {
  font-size: 1.3rem;
}
i.fas.fa-users{
  color: #158aff;
}
div.alert.alert-secondary {
  background-color: #f5f1f1;
}

